*.vs
*.vcxproj.filters
*.vcxproj.user
*/x64/
x64/
out/
build/
.vscode/
*.args.json
*.log
cmake/testProject/build

Makefile
CMakeFiles/
*/CMakeFiles/
thirdparty/*/

CMakeCache.txt
cmake_install.cmake
*/cmake_install.cmake
*.a